#avatar {
 width: 80%;
 height: 80%;
}

#intro-title {
    font-size: 3.5em;
}

#site-container {
    margin-left: 80px;
    margin-right: 80px;
}

p {
    font-size: 3em;
}

.social-media-icon  {
    font-size: 100px;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.75em;
}